.settings {
    font-family: Arial, sans-serif;
    padding: 20px;
  }

  .settings-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
    margin-left: 24vh;
  }

  .settings-section {
    margin: 30px 170px;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 8px;
  }

  .settings-section-title {
    font-size: 18px;
    margin: 30px 170px;
  }

  .personal-info-avatar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
  }

  .avatar-personal {
    border-radius: 50%;
    width: 30vh;
    height: 30vh;
  }

  .personal-info-item,
  .appearance-item,
  .notifications-item,
  .account-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0;
  }

  .dropdown {
    padding: 5px;
    border-radius: 5px;
  }

  .switch {
    transform: scale(1.2);
  }

  .edit-button,
  .delete-button {
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
  }

  .edit-button {
    background-color: #007bff;
    color: white;
    border: none;
  }

  .delete-button {
    background-color: red;
    color: white;
    border: none;
  }

  .personal-info-item-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .value {
    color: #6d6d6d;
  }

  .warning-text {
    color: #6d6d6d;
  }