.folder {
    padding: 30px;
    border: 1px solid var(--section-border);
    border-radius: 10px;
    box-shadow: 0px 4px 6px var(--box-shadow);
    position: relative;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: var(--folder-background);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.folder:hover {
    transform: translateY(-5px);
    box-shadow: 0px 8px 16px var(--box-shadow);
}

.folder-header {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.folder-title {
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--text-color);
}

.folder-actions {
    display: flex;
    gap: 15px;
    margin-top: 15px;
    width: 100%;
}

.folder-btn {
    padding: 10px 20px;
    font-size: 1rem;
    font-weight: 500;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.folder-study-btn, .folder-edit-btn {
    background-color: var(--flashcard-edit-button);
    color: white;
}

.folder-study-btn:hover,
.folder-edit-btn:hover {
    background-color: var(--flashcard-edit-button-hover);
}


.folder-delete-btn {
    background-color: var(--delete-button);
    color: white;
}

.folder-delete-btn:hover {
    background-color: var(--delete-button-hover);
}

@media (max-width: 480px) {
    .folder {
        padding: 10px;
        margin-bottom: 10px;
    }

    .folder-title {
        font-size: 1.2rem;
    }

    .folder-actions {
        flex-direction: column;
        gap: 6px; /* Decrease gap for very small screens */
    }

    .folder-btn {
        width: 100%;
        padding: 10px 0; /* Adjust padding for touch interaction */
        font-size: 1rem; /* Adjust font size for readability */
        font-size: 0.9rem; /* Smaller font for very small screens */
        padding: 8px 0; /* Smaller padding */
    }
}

