.navbar {
    background-color: var(--navbar-background);
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.navbar-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 30px;
    padding: 10px 0;
    gap: 80px;
}

.navbar-container-mobile-upper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    width: 100%;
    gap: 10px;
}

.navbar-container-mobile-upper-left {
    display: flex;
    align-items: center;
    gap: 10px;
}

.navbar-container-mobile-upper-right {
    display: flex;
    align-items: center;
    gap: 20px;
}

.hamburger-menu {
    font-size: 12px;
    width: 10vh;
    background: none;
    border: none;
    cursor: pointer;
    color: var(--text-color);
    margin-bottom: 10px;
}

.nav-buttons {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--navbar-background);
    padding: 10px 20px;
    gap: 10px;
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.3s ease, opacity 0.3s ease;
    opacity: 0;
}

.nav-buttons.show {
    display: flex;
    max-height: 500px;
    opacity: 1;
}

.nav-buttons.hide {
    max-height: 0;
    opacity: 0;
}

.navbar-item {
    cursor: pointer;
    color: var(--text-color);
    font-size: 16px;
    transition: color 0.3s ease;
}

.navbar-item:hover {
    color: var(--primary-color);
}

.nav-user-options {
    display: flex;
    align-items: center;
    gap: 20px;
}

.logo-container {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo-text {
    font-size: 20px;
    font-weight: bold;
    color: var(--text-color);
}

@media (min-width: 769px) {
    .navbar-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .nav-buttons {
        display: flex;
        flex-direction: row;
        gap: 30px;
        max-height: none;
        opacity: 1;
    }

    .hamburger-menu {
        display: none;
    }

    .navbar-container-mobile-upper {
        display: flex;
        justify-content: space-between;
    }

    .navbar-container-mobile-upper-left,
    .navbar-container-mobile-upper-right {
        display: none; /* Ukryj w trybie desktopowym */
    }
}

/* Tryb mobilny */
@media (max-width: 768px) {
    .hamburger-menu {
        display: block;
    }

    .navbar-container {
        flex-direction: column;
        gap: 10px;
    }

    .navbar-container-mobile-upper {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
    }

    .navbar-container-mobile-upper-left,
    .navbar-container-mobile-upper-right {
        display: flex;
    }

    .navbar-container-mobile-upper-right {
        margin-top: 5px;
    }

    .nav-user-options {
        justify-content: flex-end;
    }
}
