.navbar-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-user-options {
    display: flex;
    align-items: center;
    justify-content: space-between;
}