.navbar {
    margin: 10px 30px;
}

.navbar-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 80px;
}

.nav-buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 80px;
}

.navbar-item {
    cursor: pointer;
}

.nav-user-options {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
}