.plus-button-container {
    position: relative;
}

.plus-button {
    width: 5vh;
    height: 5vh;
    background: var(--plus-button);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: 0 4px 6px var(--box-shadow);
    transition: background 0.3s ease;
}

.plus-button:hover {
    background: var(--plus-button-hover);
}

.plus-button-img {
    color: var(--plus-button-img);
    font-size: 24px;
    font-weight: bold;
    padding-bottom: 5px;
}

.plus-button-popup {
    position: absolute;
    top: 50px;
    left: -20vh;
    right: 100px;
    background: var(--popup-background);
    border: 1px solid var(--section-border);
    border-radius: 8px;
    box-shadow: 0 4px 10px var(--box-shadow);
    padding: 10px;
    z-index: 1000;
    width: 150px;
}

.plus-button-popup ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.plus-button-popup li {
    padding: 10px;
    cursor: pointer;
    font-size: 14px;
}

.plus-button-popup li:hover {
    background-color: var(--popup-hover);
}
