.plus-button-container {
    position: relative;
}

.plus-button {
    width: 5vh;
    height: 5vh;
    background: orange;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background 0.3s ease;
}

.plus-button:hover {
    background: rgb(255, 175, 25);
}

.plus-button-img {
    color: white;
    font-size: 24px;
    font-weight: bold;
    padding-bottom: 5px;
}
