.streak-chart {
    display: grid;
    grid-template-columns: repeat(calc(365 / 7), 1fr);
    gap: 2px;
    width: 100%;
    max-width: 850px;
}

.streak-cell {
    width: 14px;
    height: 14px;
    background-color: var(--streak-cell-background-inactive);
    border-radius: 2px;
}

.streak-cell.active {
    background-color: var(--streak-cell-background-active);
}