.streak-chart {
    display: flex;
    gap: 4px;
    width: 100%;
    max-width: 850px;
}

.streak-column {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.streak-cell {
    width: 14px;
    height: 14px;
    background-color: var(--streak-cell-background-inactive);
    border-radius: 2px;
}

.streak-cell.active {
    background-color: var(--streak-cell-background-active);
}
