.avatar {
    position: relative;
}

.avatar img {
    border-radius: 50%;
    width: 5vh; 
    height: 5vh;
    cursor: pointer;
    object-fit: cover; /* Ensures image scales properly inside the circle */
}

.avatar-popup {
    position: absolute;
    top: calc(100% + 10px);
    left: 50%;
    transform: translateX(-50%);
    background: var(--popup-background);
    border: 1px solid var(--section-border);
    border-radius: 8px;
    box-shadow: 0 4px 10px var(--box-shadow);
    padding: 10px;
    z-index: 1000;
    width: 90vw;
    max-width: 400px;
}

.avatar-popup ul {
    list-style: none;
    margin: 0;
    padding: 0;
    padding-top: 15px;
}

.avatar-popup li {
    padding: 10px;
    cursor: pointer;
    font-size: 14px;
}

.avatar-popup li:hover {
    background-color: var(--popup-hover);
}

.avatar-popup-info {
    display: flex;
    gap: 12px;
    border-bottom: 1px solid var(--section-border);
    padding-bottom: 10px;
    flex-wrap: wrap;
}

.avatar-popup-info img {
    width: 8vh;
    height: 8vh;
    border-radius: 50%;
    object-fit: cover;
}

.avatar-popup-info div {
    margin-top: 4px;
    flex-grow: 1;
}

@media (max-width: 768px) {
    .avatar-popup {
        width: 80vw;
        padding: 15px;
    }

    .avatar-popup li {
        font-size: 16px;
        padding: 12px;
    }

    .avatar-popup-info img {
        width: 6vh;
        height: 6vh;
    }
}

@media (max-width: 480px) {
    .avatar img {
        width: 5vh;
        height: 5vh;
    }

    .avatar-popup {
        width: 95vw;
        left: 5%;
        transform: none;
    }

    .avatar-popup-info {
        gap: 8px;
    }

    .avatar-popup li {
        font-size: 14px;
    }
}


@media (max-width: 768px) {
    .avatar img {

        max-width: 8vh;
        min-height: 8vh;
    }
}