.avatar {
    position: relative;
}

.avatar img{
    border-radius: 100%;
    max-width: 6vh;
    min-height: 6vh;
    cursor: pointer;
}

.avatar-popup {
    position: absolute;
    top: 55px;
    left: -25vh;
    background: var(--popup-background);
    border: 1px solid var(--section-border);
    border-radius: 8px;
    box-shadow: 0 4px 10px var(--box-shadow);
    padding: 10px;
    z-index: 1000;
    width: 30vh;
}

.avatar-popup ul {
    list-style: none;
    margin: 0;
    padding: 0;
    padding-top: 15px;
}

.avatar-popup li {
    padding: 10px;
    cursor: pointer;
    font-size: 14px;
}

.avatar-popup li:hover {
    background-color: var(--popup-hover);
}

.avatar-popup-info {
    display: flex;
    gap: 12px;
    border-bottom: 1px solid var(--section-border);
}

.avatar-popup-info img {
    min-width: 10vh;
    height: 10vh;
}

.avatar-popup-info div {
    margin-top: 4px;
}
