:root {
  /* here should be global variables for light mode */
  --body-background: #fff;
  --text-color: #181818;
  --shadow-border: rgb(80, 240, 255);

  --section-background: #f9f9f9;
  --section-border: #08a5cd;
  --faded-text: #6d6d6d;

  --box-shadow: rgba(0, 0, 0, 0.1);
  --deck-info: #666;
  --deck-state-item: #f7f7f7;
  --deck-action-button: rgb(255, 149, 0);
  --deck-dropdown: white;

  --navbar-background: rgb(21, 189, 198);

  --popup-hover: #f0f0f0;
  --popup-background: white;

  --plus-button: rgb(153, 235, 242);
  --plus-button-hover: rgb(80, 240, 255);
  --plus-button-img: white;

  --continue-button: #007bff;
  --continue-button-text: white;
  --delete-button: #901870;
  --delete-button-hover: #6b0f52;
  --delete-button-text: white;
  --create-deck-button: #0056b3;

  --create-deck-text: #333;

  --active-tab-text: rgb(0, 0, 0);

  --my-decks-background: white;
  --share-section-background: #dce7eaa5;
  --share-background: #ffffff;

  --flashcard-background: #ebebeb;
  --flashcard-border: #e2e2e2;
  --flashcard-buttons: #3746abc3;
  --flashcard-buttons-hover: #1c1c1cc3;
  --flashcard-buttons-active: rgb(28, 28, 93);
  --flashcard-edit-button:#00ccff;
  --flashcard-edit-button-hover: #109ec2;
  --flashcard-input: rgb(243, 243, 243);

  --deck-page-background: #fff;

  --filter-background: white;

  --streak-cell-background-inactive: #dfdfdf;
  --streak-cell-background-active: #00ccff;

  --input-color-flashcard: #292929;
  --input-flashcard-background: #ebfbfd;
  --auth-section-left: #3498db;
  --auth-section-left-text: white;
  --auth-input-text: black;
  --auth-input-color: #4c6ef5;
  --auth-remember-label-text: #777;
  --auth-signin-button: #4285F4;
  --auth-signin-button-text: white;
  --auth-social-button-color-1: #4285F4;
  --auth-social-button-color-2: #3b5998;
  --auth-social-button-color-3: #333; 
  --auth-signin-button-submit: #4c6ef5;
  --auth-signin-button-submit-hover: #3751d2
}


body.dark {
  /* and here should be global variables for dark mode */
  --body-background: #2e2e2e;
  --text-color: #e0e0e0;
  --shadow-border: #2874a6;

  --section-background: #121212;
  --section-border: #444;
  --faded-text: #161515;

  --box-shadow: rgba(0, 0, 0, 0.5);
  --deck-info: #aaa;
  --deck-state-item: #1e1e1e;
  --deck-action-button: rgb(255, 149, 0);

  --navbar-background: #1c1c22;

  --popup-hover: #444;
  --popup-background: #2e2e2e;

  --plus-button: rgb(80, 76, 109);
  --plus-button-hover: rgb(90, 77, 189);
  --plus-button-img: white;

  --continue-button: #007bff;
  --continue-button-text: white;
  --delete-button: #901870;
  --delete-button-hover: #6b0f52;
  --delete-button-text: white;
  --create-deck-button: #0056b3;

  --create-deck-text: #ebebeb;

  --active-tab-text: white;

  --my-decks-background: #222;
  --share-section-background: #24242471;
  --share-background: #2f2f2f;

  --flashcard-background: #393939;
  --flashcard-border: #1f1f1f;
  --flashcard-buttons: #202024;
  --flashcard-buttons-hover: #232339;
  --flashcard-buttons-active: #20203a;
  --flashcard-edit-button: #2874a6;
  --flashcard-edit-button-hover: #1d5981;
  --flashcard-input: rgb(61, 61, 61);

  --deck-page-background: #292929;

  --filter-background: #2e2e2e;

  --streak-cell-background-inactive: #333;
  --streak-cell-background-active: #2874a6;

  --input-color-flashcard: #e4e4e4;
  --input-flashcard-background: #292929;
  --auth-section-left: #3498db;
  --auth-section-left-text: white;
  --auth-input-text: black;
  --auth-input-color: #4c6ef5;
  --auth-remember-label-text: #777;
  --auth-signin-button: #4285F4;
  --auth-signin-button-text: white;
  --auth-social-button-color-1: #4285F4;
  --auth-social-button-color-2: #3b5998;
  --auth-social-button-color-3: #333; 
  --auth-signin-button-submit: #4c6ef5;
  --auth-signin-button-submit-hover: #3751d2
 }

body {
  background-color: var(--body-background);
  color: var(--text-color);
  transition: background-color 0.3s, color 0.3s;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
