.create-flashcard {
    padding: 20px;
    min-height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    background-color: var(--body-background);
    color: var(--text-color);
}

.flashcard-container {
    margin-top: 20px;
    width: 900px;
    min-height: auto;
    padding: 20px;
    border: 1px solid var(--section-border);
    border-radius: 8px;
    box-shadow: 0px 4px 8px var(--box-shadow);
    background-color: var(--body-background);
}

h2 {
    margin-bottom: 20px;
    text-align: center;
    color: var(--text-color);
}

.inputs-container {
    margin-right: 20px;
    margin-left: 20px;
}

.input-group {
    margin-bottom: 20px;
    width: 100%; /* Adjust to parent container width */
}

.input-group label {
    display: block;
    width: 100%;
    margin-bottom: 5px;
    font-weight: bold;
    color: var(--text-color);
}

.input-group .dropdown {
    width: 100%;
    padding: 8px;
    border: 1px solid var(--section-border);
    border-radius: 4px;
    background-color: var(--input-flashcard-background);
    color: var(--input-color-flashcard);
}

.flashcard-inputs {
    display: flex;
    width: 98%; /* Adjust to parent container width */
    flex-direction: column;
    gap: 10px;
}

.flashcard-inputs .textarea {
    width: 100%; /* Adjust to parent container width */
    height: 50px;
    padding: 8px;
    border: 1px solid var(--input-flashcard-background);
    border-radius: 4px;
    font-size: 17px;
    background-color: var(--flashcard-input);
    color: var(--text-color);
    resize: none;
    outline: none; /* Remove default border on focus */
    transition: box-shadow 0.3s ease, border-color 0.3s ease;
}

.flashcard-inputs .textarea:focus {
    border-color: var(--shadow-border);
    box-shadow: 0 0 5px var(--shadow-border);
}

.button-group {
    display: flex;
    justify-content: flex-end;
}

button {
    width: 100px;
    padding: 8px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
    margin-left: 15px;
}

.cancel-button, .add-button {
    background-color: var(--flashcard-edit-button);
    color:white;
}

.cancel-button:hover, .add-button:hover {
    background-color: var(--flashcard-edit-button-hover);
}

.add-button {
    margin-right: 10px;
}

/* Responsive Adjustments */
@media (max-width: 768px) {
    .flashcard-container {
        width: 100%; /* Full width for medium screens */
        padding: 15px;
    }

    .flashcard-inputs .textarea {
        height: 40px;
        font-size: 15px;
    }

    button {
        width: 80px;
        font-size: 14px;
    }
}

@media (max-width: 480px) {
    .flashcard-container {
        width: 100%; /* Full width for small screens */
        padding: 10px;
    }

    .input-group {
        margin-bottom: 15px;
    }

    .flashcard-inputs .textarea {
        height: 35px;
        font-size: 14px;
    }

    button {
        width: 70px;
        font-size: 12px;
    }
}
