.edit-folder-popup-edit {
    background-color: var(--popup-background);
    border-radius: 20px;
    padding: 25px 30px;
    box-shadow: 0 4px 6px var(--box-shadow);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 400px;
    margin: 0 auto;
    border: 1px solid var(--section-border);
    z-index: 40;
}

.edit-folder-popup-edit input[type="text"] {
    background-color: var(--popup-background);
    color: var(--text-color);
    width: 100%;
    padding: 10px;
    border: 2px solid var(--section-border);
    border-radius: 15px;
    font-size: 1rem;
    margin-bottom: 15px;
    outline: none;
    transition: border-color 0.3s ease;
}

.edit-folder-popup-edit input[type="text"]:focus {
    border-color: var(--continue-button);
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.edit-folder-popup-edit select {
    background-color: var(--popup-background);
    color: var(--text-color);
    width: 100%;
    padding: 10px;
    border: 1px solid var(--section-border);
    border-radius: 15px;
    font-size: 1rem;
    margin-bottom: 15px;
}

.edit-folder-popup-edit button[type="submit"] {
    background-color: var(--continue-button);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 15px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.edit-folder-popup-edit button[type="submit"]:hover {
    background-color: var(--create-deck-button);
}

.edit-folder-popup-edit h3 {
    font-size: 1.2rem;
    margin-bottom: 15px;
    color: var(--text-color);
    text-align: center;
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .edit-folder-popup-edit {
        max-width: 90%;
        padding: 20px 25px;
    }

    .edit-folder-popup-edit h3 {
        font-size: 1rem;
    }

    .edit-folder-popup-edit input[type="text"] {
        font-size: 0.9rem;
    }

    .edit-folder-popup-edit select {
        font-size: 0.9rem;
    }

    .edit-folder-popup-edit button[type="submit"] {
        font-size: 0.9rem;
    }
}

@media (max-width: 480px) {

    .edit-folder-popup-edit {
        max-width: 100%;
        padding: 15px 20px;
    }

    .edit-folder-popup-edit h3 {
        font-size: 0.9rem;
    }

    .edit-folder-popup-edit input[type="text"] {
        font-size: 0.8rem;
    }

    .edit-folder-popup-edit select {
        font-size: 0.8rem;
    }

    .edit-folder-popup-edit button[type="submit"] {
        font-size: 0.8rem;
    }
}
