.logo-container {
    display: flex;
    justify-content: center;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    cursor: pointer;
}

.logo-image img {
    max-width: 6vh;
    border-radius: 25%;
}

@media (max-width: 768px) {
    .logo {
        margin-top: 10px;
    }

    .logo-image img {
        max-width: 8vh;
        min-height: 8vh;
    }
}