.logo-container {
    display: flex;
    justify-content: center;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 17px;
    cursor: pointer;
}

.logo-image img {
    width: 5.5vh;
    height: auto;
    border-radius: 40%;
    object-fit: cover;
}

.logo-text {
    font-family: Arial, serif;
    color: white;
    font-size: 25px;
    font-weight: bold;
}

@media (max-width: 768px) {
    .logo {
        gap: 15px;
        justify-content: center;
    }

    .logo-image img {
        width: 5vh;
    }

    .logo-text {
        font-size: 15px;
    }
}

@media (max-width: 480px) {
    .logo {
        flex-direction: column;
        gap: 10px;
        align-items: center;
    }

    .logo-image img {
        width: 4.5vh;
    }

    .logo-text {
        font-size: 13px;
    }
}